mat-sidenav-content{
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background-color: #151515;
    padding-top: 60px;
    height: 100%;
    color:aliceblue;
}
mat-toolbar{
    position: fixed;
    top:0;
    left:0;
    z-index: 9999;;
    background-color: #323a45;
    color:white;
}

mat-sidenav{
    
    width: 200px;
    border-right: none;
    background-color: #323a45;
    color: white;
    text-align: center;
}
.contet{
    height: calc(100vh- 98px);
}


mat-sidenav-container {
    height: calc(100vh - 65px);
}

.menu-button{
    width: 200px;
    height: 50px;
}
mat-icon{
    margin-right: 8px;
    margin-left:8px;
    float: left;

}

.menu-text{
    float: left;
    margin-left: 10px;
}

mat-divider{
    margin-top: 16px;
    margin-bottom: 24px;
    background-color: rgba(255,255,255,0.5);
}

.avatar {
    
    border-radius: 25%;
    margin-bottom: 5px;
    max-width: 150px;
    max-height: 150px;
}

.search-form{
    width:100%;
    max-width :1200px;
    margin: 0 auto;
}

.search-input {
    margin-left: 10px;
    padding: 10px;
    width: 300px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    outline: none;
    border: none;
}

.search-button {
    border:none;
    outline: none;
    background: #3f51b5;
    padding: 10px;
    border-left: 1px solid rgba((red), green, blue, 0.3);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    color:#fff;
    font-weight: 700;
    transition-duration: 0.3s;
    cursor: pointer;
}

.search-button:hover{
    color: #3f51b5;
    background-color: #fff;
    border: 1px solid #3f51b5;
}

.logo {
    margin-left: 10px;
    color: #fff;
    font-weight: 700;
    cursor: pointer;
    text-decoration: none;
}


