<div class="movies">
    <ng-container *ngFor="let movie of movies">
        <div class="movie" (click)="openMovieDetails(movie.id)">
            <div class="movie-thumb-container">
                
                <img
                    src="{{movie.moviePhoto}}"
                    alt="thumbnail"
                    class="movie-image"
                    
                />
                
                
            </div>
            <div>
                <div class="movie-info">
                    <p class="movie-name">{{movie.name}}</p>
                    <p class="movie-duration">Duration: {{movie.duration}} minutes</p>
                    <div class="movie-description">
                        {{movie.description}}
                    </div>
                </div>
            
            </div>
        </div>
        
    </ng-container>
   
    
</div>