<div  class="container-fluid">
  <!-- <div style="float:left" class="row"> -->
    <div  class="col-md-6">
      <div class="card" style="width: 18rem;">
          <img class="profile-picture" src="{{blob}}">
          <!-- [src]="profile?.pictureName" class="card-img-top" alt="..."> -->
          <div class="card-body">
            <h5 class="card-title">{{profile?.userName }} </h5>
            <!-- <a (click)="viewPosts()" class="btn btn-primary">View posts</a> -->
            
          </div>
        </div>
  </div>
  <div class="col-md-6 offset-md-6">
    <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <div>
          <label for="profileImage">Change Profile Image</label>
        </div>

        <input type="file"
               name="profileImage"
               id="profileImage"
               placeholder="Change Profile Image"
               (change)="onFileChange($event)">
      </div>
      <button type="submit"
              class="btn btn-primary">Update<i class="fas fa-user-edit"></i></button>
    </form>
  </div>
  <!-- </div> -->
    
   <div class="row">
    
   </div> 

  
    
    
</div>
<p>WatchList</p>
<carousel [cellsToShow]="4" [height]="250"
  >
  <ng-container *ngFor ="let movie of profile?.watctList">
    <div class="carousel-cell">
      <div class="movie-thumb-container" (click)="openMovieDetails(movie.id)">
        <img
            src="{{movie?.moviePhoto}}"
            alt="thumbnail"
            class="movie-image"
        />     
    </div>
    <button mat-button class="watchList-button" (click)="removeFromWatchList(movie.id)">
      <mat-icon>remove</mat-icon>
      <span class="menu-text">Remove From WatchList</span>
  </button>
    </div>
  </ng-container>
  
</carousel>


<p>Watched Movies</p>
<carousel [cellsToShow]="4" [height]="250">
  <ng-container *ngFor ="let movie of profile?.playList">
    <div class="carousel-cell" >
      <div class="movie-thumb-container"(click)="openMovieDetails(movie.id)">
        <img
            src="{{movie?.moviePhoto}}"
            alt="thumbnail"
            class="movie-image"
        />
        
    </div>
    <button mat-button class="watchList-button" (click)="removeFromPlayList(movie.id)" >
      <mat-icon>remove</mat-icon>
      <span class="menu-text">Remove From PlayList</span>
  </button>
    </div>
  </ng-container>
</carousel>
