<div class="container-fluid">
    <div class="col-md-6 offset-md-4">
        <div class="card" style="width: 18rem;">
            <img [src]="" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">DSADSA DASDAS  </h5>
              <p class="card-text">About : </p>
              <!-- <a (click)="viewPosts()" class="btn btn-primary">View posts</a> -->
              
            </div>
          </div>
    </div>
    
    
</div>

<div class="cotaniner-fluid">
    
</div>